#mainchat {
  padding: 0;
  height: calc(85vh - 60px);
  overflow-y: scroll;
  margin: 10px;
}
.chat-container {
  padding: 0;
  overflow-y: scroll;
}

.footer {
  height: fit-content;
}

.button {
  color: white;
  margin: 5px;
  width: calc(100% - 10px);
}

#mainchat::-webkit-scrollbar {
  display: none;
}

.chat-container::-webkit-scrollbar {
  display: none;
}
