#mainchat {
  padding: 0;
  height: calc(85vh - 60px);
  overflow-y: scroll;
  margin: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.chat-container {
  padding: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.footer {
  height: fit-content;
}

.button {
  color: white;
  margin: 5px;
  width: calc(100% - 10px);
}

#mainchat::-webkit-scrollbar {
  display: none;
}

.chat-container::-webkit-scrollbar {
  display: none;
}

/* For mobile phones: */
@media screen and (width <= 600px) {
  #mainchat {
    height: 75vh;
  }
}
