@page "/main"
@layout UserLayout
@attribute [Authorize]

<div class="w-100">
@*     <MudAlert Class="my-2" Severity="Severity.Normal" Variant="Variant.Outlined">The reactor type is RBMK-1000</MudAlert>
 *@
    @for (int x = 0; x < 10; x++)
    {
        <Post />
    }
</div>



@code {


}
