@page "/main"
@layout UserLayout
@attribute [Authorize]



<div style="height: 200px; background-color: green; margin-bottom: 2px;">contnet</div>
<div style="height: 200px; background-color: green; margin-bottom: 2px;">contnet</div>
<div style="height: 200px; background-color: green; margin-bottom: 2px;">contnet</div>
<div style="height: 200px; background-color: green; margin-bottom: 2px;">contnet</div>
<div style="height: 200px; background-color: green; margin-bottom: 2px;">contnet</div>
<div style="height: 200px; background-color: green; margin-bottom: 2px;">contnet</div>
<div style="height: 200px; background-color: green; margin-bottom: 2px;">contnet</div>
<div style="height: 200px; background-color: green; margin-bottom: 2px;">contnet</div>
<div style="height: 200px; background-color: green; margin-bottom: 2px;">contnet</div>
<div style="height: 200px; background-color: green; margin-bottom: 2px;">contnet</div>
<div style="height: 200px; background-color: green;">contnet</div>


@code {



}
