@page "/main"
@layout UserLayout
@attribute [Authorize]

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 m-0">
    <Post/>
    <Post/>
    <Post/>
    <Post/>
    <Post/>
    <Post/>
    <Post/>
    <Post/>
    <Post/>
    <Post/>
    <Post/>
    <Post/>
    <Post/>
    <Post/>
    <Post/>
    <Post/>
    <Post/>
    <Post/>

</div>



@code {


}
