main {
  display: grid;
  gap: 0.3rem;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr;
  background: rgb(23, 24, 24);
  grid-template-areas:
    "usersugg"
    "trending";
}
header {
  grid-area: header;
}
section {
    grid-area: trending;
    background: rgb(23, 24, 24);
    overflow-y: scroll;
}

.horiz-scroll {
  grid-area: usersugg;
  display: flex;
  overflow-x: scroll;
  height: 200px;
  background: rgb(23, 24, 24);
}

.horiz-scroll::-webkit-scrollbar {
  display: none;
}

section::-webkit-scrollbar {
  display: none;
}
