.main_sugg {
    background: rgb(23, 24, 24);
}


section {
  background: rgb(23, 24, 24);

}

.horiz-scroll {
  grid-area: usersugg;
  display: flex;
  overflow-x: scroll;
  height: 200px;
  background: rgb(23, 24, 24);
}

.horiz-scroll::-webkit-scrollbar {
  display: none;
}

section::-webkit-scrollbar {
  display: none;
}
