@page "/suggestions"
@layout UserLayout

<div class="main_sugg p1">
    <div class="horiz-scroll p-1 gap-1">
        @for (int i = 0; i < 10; i++)
        {
            <SuggestedUser />
        }
    </div>

    <section class="trending">
        <MudDivider Style="color: white;" DividerType="DividerType.Middle" Class="my-1" />
        <h2 class="ml-2" style="color: white; position: sticky; top: 0;">Trending</h2>


    </section>

</div>
