
<style>
    .message {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(23, 24, 24) !important;
        padding: 10px 20px;
        border-radius: 8px;
    }

    .message:hover{
        cursor: pointer;
    }

    .effect {
        transition: 0.3s;
    }

        .effect:hover {
            cursor: pointer;
            scale: 1.032;
        }

    .mycolor{
        text-decoration: none;
    }
    .mycolor:hover{
        color: yellow;
    }

    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .message-content {
        background-color: rgb(23, 24, 24);
        display: flex;
        align-items: center;
    }

    .message-text {
        color: #ffffff;
        margin: 0;
    }

    .message-time {
        color: #a0a0a0;
    }
</style>

<a class="mycolor" href="/chat-area">
<div class="message w-100 mb-2 effect">
    <div class="message-content">
        <MudAvatar Class="mr-2" Size="Size.Large" Color="Color.Tertiary">
            N
        </MudAvatar>
        <div class="bg-transparent">
            <p class="message-author mb-2">Christina Alonso</p>
            <p class="message-text">Sounds good.</p>
        </div>
    </div>
    <p class="message-time">9:41 am</p>
</div>
</a>


@code {

}
