.grid-container[b-acnney49g5] {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: calc(100vh - 64px);
}

.header[b-acnney49g5] {
  padding: 10px;
  text-align: center;
}

.main[b-acnney49g5] {
  border: 1px solid #ccc;
  margin: 10px;
  overflow-y: auto;
}



.input[b-acnney49g5] {
  border: 1px solid #ccc;
  margin: 5px;
  width: calc(100% - 10px);
}

.button[b-acnney49g5] {
  color: white;
  margin: 5px;
  width: calc(100% - 10px);
}
