.main_sugg[b-qfps82va3f] {
    background: rgb(23, 24, 24);
}


section[b-qfps82va3f] {
  background: rgb(23, 24, 24);

}

.horiz-scroll[b-qfps82va3f] {
  grid-area: usersugg;
  display: flex;
  overflow-x: scroll;
  height: 200px;
  background: rgb(23, 24, 24);
}

.horiz-scroll[b-qfps82va3f]::-webkit-scrollbar {
  display: none;
}

section[b-qfps82va3f]::-webkit-scrollbar {
  display: none;
}
