@page "/interests"
@layout LandingLayout
@attribute [Authorize]

<h2 class="mb-10 mt-10" style="background-color: rgb(20, 20, 20); color: white; text-align: center;">what are you into?
</h2>

<div style="background-color: rgb(20, 20, 20);"
    class="container-fluid full-height pt-2 d-flex justify-content-center full-height">
    <div style="width: 50%;">
        <MudChipSet @bind-SelectedChips="selected" MultiSelection="true" Filter="filter">
            <MudChip Text="pink" Variant="Variant.Outlined" Color="Color.Secondary">Secondary</MudChip>
            <MudChip Text="Salad"></MudChip>
            <MudChip Text="Apples"></MudChip>
            <MudChip Text="Milk"></MudChip>
            <MudChip Text="Eggs"></MudChip>
            <MudChip Text="grey" Variant="Variant.Outlined" Color="Color.Default">Default</MudChip>
            <MudChip Text="Cornflakes"></MudChip>
            <MudChip Text="black" Variant="Variant.Outlined" Color="Color.Dark">Dark</MudChip>
            <MudChip Text="purple" Variant="Variant.Outlined" Color="Color.Primary">Primary</MudChip>
            <MudChip Text="orange" Variant="Variant.Outlined" Color="Color.Warning">Warning</MudChip>
            <MudChip Text="green" Variant="Variant.Outlined" Color="Color.Success">Success</MudChip>
            <MudChip Text="blue" Variant="Variant.Outlined" Color="Color.Info">Info</MudChip>
            <MudChip Text="grey" Variant="Variant.Filled" Color="Color.Default">Default</MudChip>
            <MudChip Text="Red wine"></MudChip>
            <MudChip Text="Soap"></MudChip>
            <MudChip Text="red" Variant="Variant.Outlined" Color="Color.Error">Error</MudChip>
            <MudChip Text="blue" Variant="Variant.Filled" Color="Color.Info">Info</MudChip>
            <MudChip Text="green" Variant="Variant.Filled" Color="Color.Success">Success</MudChip>
            <MudChip Text="orange" Variant="Variant.Filled" Color="Color.Warning">Warning</MudChip>
            <MudChip Text="red" Variant="Variant.Filled" Color="Color.Error">Error</MudChip>
            <MudChip Text="black" Variant="Variant.Filled" Color="Color.Dark">Dark</MudChip>
        </MudChipSet>
    </div>
</div>


@code
{
    bool filter = true;
    MudChip[]? selected;

}