@page "/"
@layout LandingLayout

<PageTitle>Welcome</PageTitle>

<div style="background-color: rgb(20, 20, 20);" class="container-fluid full-height pt-2 ">
    <div class="row h-100">
        <div
            class="col-md-12 p-0 pt-md-6 d-flex flex-column align-items-center full-height justify-content-center h-100 gap-3">
            <MudCarousel BulletsColor="Color.Warning" Class="w-100 d-flex justify-content-center" Style="height:400px;"
                ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture"
                AutoCycleTime="@rate" TData="object">
                <MudCarouselItem Transition="transition" Class="d-flex justify-content-center">
                    <img src="/Assets/live-chat.png" alt="Features Carousel" class="img-fluid">
                </MudCarouselItem>
                <MudCarouselItem Transition="transition" Class="d-flex justify-content-center">
                    <img src="/Assets/jwt.png" alt="Features Carousel" class="img-fluid">
                </MudCarouselItem>
                <MudCarouselItem Transition="transition" Class="d-flex justify-content-center">
                    <img src="/Assets/jwt.png" alt="Features Carousel" class="img-fluid">
                </MudCarouselItem>
            </MudCarousel>
            <a style=" text-align: center;" class="fs-1 mt-10 mb-7 astyle" href="/sign-in">Get Started</a>
        </div>
    </div>
</div>


@code {
    TimeSpan rate = TimeSpan.FromSeconds(3);
    private bool arrows = true;
    private bool bullets = false;
    private bool enableSwipeGesture = true;
    private Transition transition = Transition.Slide;
}
