@inherits LayoutComponentBase

<style>
    .full-height {
        min-height: calc(100vh - 50px);
    }

    .footer {
        height: 50px;
    }
</style>

<MudThemeProvider IsDarkMode="true" Theme="MyCustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="full-height">
    <nav style="background-color: rgb(23, 24, 24);" class="sticky-top navbar d-flex justify-content-start">
        <h2 style="color: white;" class="mb-0 ml-2">ShareSpace</h2>
        <MudSpacer />
        <AuthorizeView>
            <NotAuthorized>
                <MudButton Href="/sign-in/required-user-data" Class="mr-2" Variant="Variant.Text" Color="Color.Primary">
                    Sign-Up</MudButton>
            </NotAuthorized>
        </AuthorizeView>

    </nav>
    <MudMainContent Style="background-color: rgb(20, 20, 20);" Class="p-0 pt-3 m-0">
        @Body
    </MudMainContent>
    <footer style="background-color: rgb(26, 24, 24);" class="footer d-flex justify-content-start align-items-center">
        <h6 class="text-muted mb-0 ml-5">
            <MudButton Href="https://github.com/barnabasSol/ShareSpace" Target="_blank" Variant="Variant.Text"
                EndIcon="@Icons.Custom.Brands.GitHub" Color="Color.Secondary" Style="text-transform:none">
                GitHub
            </MudButton>
        </h6>
    </footer>
</MudLayout>


@code {
    MudTheme MyCustomTheme = new MudTheme()
        {
            Palette = new PaletteLight()
            {
                Primary = Colors.Blue.Default,
                Secondary = Colors.Green.Accent4,
                AppbarBackground = Colors.Red.Default,
            },
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Yellow.Accent3,
                Secondary = Colors.Shades.White,
                Tertiary = Colors.Grey.Darken4,

            },
            // LayoutProperties = new LayoutProperties()
            // {
            // DrawerWidthLeft = "260px",
            // DrawerWidthRight = "300px"
            // }
        };
}
