header {
  grid-area: header;
}

.header1 {
  grid-area: h1;
  background: rgb(23, 24, 24);
}

.headerx {
  grid-area: hx;
  background: rgb(23, 24, 24);
}

.header2 {
  grid-area: h2;
  background: rgb(23, 24, 24);
}

.gridlayoutab {
  display: grid;
  grid-template-rows: 64px;
  grid-template-columns: 3fr 5fr 4fr;
  grid-template-areas: "h1 hx h2";
}

section {
  grid-area: section;
  background: rgb(23, 24, 24);
  overflow-y: scroll;
}

article {
  grid-area: profcon;
  overflow-y: scroll;
}

.phone_header {
  display: none;
}

footer {
  display: none;
  grid-area: footer;
}

section::-webkit-scrollbar {
  display: none;
}

nav {
  grid-area: nav;
  background: rgb(23, 24, 24);
  overflow-y: scroll;
}

nav::-webkit-scrollbar {
  display: none;
}
article::-webkit-scrollbar {
  display: none;
}

main {
  display: grid;
  gap: 0.3rem;
  height: 100vh;
  grid-template-rows: 64px 8fr;
  grid-template-columns: 3fr 5fr 4fr;
  background: rgb(23, 24, 24);
  grid-template-areas:
    "header header header"
    "profcon section nav";
}

@media only screen and (min-width: 601px) and (max-width: 970px) {
  main {
    grid-template-rows: 64px 8fr;
    grid-template-columns: 0.7fr 1fr;
    grid-template-areas:
      "header"
      "profcon section";
  }

  .header2 {
    display: none !important;
  }

  .gridlayoutab {
    display: grid;
    grid-template-rows: 64px;
    grid-template-columns: 0.7fr 1fr;
    grid-template-areas: "h1 hx";
  }

  section {
    grid-area: section;
    overflow-y: scroll;
  }

  nav {
    display: none;
    gap: 0.4rem;
    overflow-x: scroll;
    white-space: nowrap;
  }

  /*  nav > div {
    flex-shrink: 0;
  }*/
}

@media only screen and (max-width: 600px) {
  article {
    display: none;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pcheader {
    display: none !important;
  }
  .phone_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer {
    display: grid;
  }
  main {
    grid-template-rows: 64px 8fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "section"
      "footer";
  }

  nav {
    display: none;
    gap: 0.4rem;
    overflow-x: scroll;
    white-space: nowrap;
  }

  /* nav > div {
    flex-shrink: 0;
  } */
}
