

<div style="background-color: rgb(20, 20, 20);" class="container-fluid full-height d-flex justify-content-center align-items-center">
    <h3>Not Found. kindly, fuck off.</h3>
</div>
@code {

}
