.astyle[b-z27iwrltlz] {
    color: gray;
    text-decoration: none;
    transition: color, text-decoration, 0.2s;
}

    .astyle:hover[b-z27iwrltlz] {
        color: white;
    }

    .astyle:focus[b-z27iwrltlz] {
        color: white;
    }
