@page "/sign-in"
@using System.ComponentModel.DataAnnotations;
@layout LandingLayout
@inject HttpClient http;


<PageTitle>Login/Sign-up</PageTitle>

<div style="background-color: rgb(20, 20, 20);" class="container-fluid full-height d-flex justify-content-center align-items-center">
    <EditForm Model="@LoginModel" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12" sm="12">
                <MudCard Style="background-color: rgb(23, 24, 24); border-radius: 20px;">
                    <MudCardContent>
                        <MudTextField id="username" AutoFocus="true" OnlyValidateIfDirty="true" Label="Username"
                        @bind-Value="LoginModel.Username" For="@(() => LoginModel.Username)" />
                        <MudTextField id="password" OnlyValidateIfDirty="true" Label="Password" Class="mt-3"
                        @bind-Value="LoginModel.Password" For="@(() => LoginModel.Password)" InputType="InputType.Password" />
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" Class="ml-auto">Login</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
            <MudItem xs="12">
                <MudText Typo="Typo.body2" Align="Align.Center">
                    <span>Or Sign In with <a style="color:yellow" href="/sign-in/required-user-data">Google</a></span>
                </MudText>
            </MudItem>
        </MudGrid>
    </EditForm>
</div>

