<div style="background-color: rgb(20, 20, 20);"
    class="container-fluid full-height d-flex justify-content-center align-items-center">
    <h3>Not Authorized. Kindly, Login or Create Account</h3>
</div>
